<footer class="footer">
    <section>
      <nav>
      <a href="/home"><img src="/Assets/logo_blanc.png" alt="Mr Coffee Logo/"></a>
      <div class="nav-links">
        <ul>
          <div style="text-align:center;"></div>
          <p>Suivez nous sur les réseaux sociaux !</p></br>
          <img class="linkedin" src="/Assets/logo_linkedin.png" alt="Footer Images/">
          <img class="twitter"src="/Assets/logo_twitter.png" alt="Footer Images/">
          <img class="facebook"src="/Assets/logo_facebook.png" alt="Footer Images/">
          </div>
        </ul>
    </div>
      </nav> 
      </section>
  </footer>