<header>
    <section>
      <nav>
      <a href="/home"><img src="/Assets/full_logo_white.png" alt="Mr Coffee Logo/"></a>
      <div class="nav-links">
       <ul>
        <li><a href="/">Schedules</a></li>
        <li><a href="/new">Add New Schedule</a></li>
      </ul>
    </div>
      </nav> 
      </section>
      </header>