<header>
    <section>
      <nav>
      <a href="/home"><img src="/Assets/full_logo_white.png" alt="Mr Coffee Logo/"></a>
      <div class="nav-links">
       <ul>
        <li><a href="/users">Users</a></li>
        <li><a href="/schedules">Schedules</a></li>
      </ul>
    </div>
      </nav> 
      </section>
      </header>